<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>PrimeFaces Omega</title>
    </h:head>

    <h:body styleClass="exception-body">
        <div class="exception-wrapper notfound">
            <p:graphicImage name="images/404.png" library="omega-layout" />
            
            <p class="message-title">Page Not Found!</p>
            <p class="message-summary">The resource you are looking for does not exist.</p>
            
            <p:link outcome="dashboard">
                <i class="fa fa-home"></i>
                <span>Dashboard</span>
            </p:link>
            
            <div class="login-footer">PrimeFaces Omega</div>
        </div>
        
        <h:outputStylesheet name="css/layout.css" library="omega-layout" />
    </h:body>

</html>