<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
                
    <ui:define name="title">Forms</ui:define>
                
    <ui:define name="head">
        <style type="text/css">
            .grid-pad .ui-panelgrid-content .ui-panelgrid-cell.ui-grid-col-12 {
                padding-bottom: 10px;
            }
        </style>
    </ui:define>
    
    <ui:define name="content">
    
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-lg-6">
                <!-- Left Side -->
                <div class="card">
                    <h1>InputText</h1>
                    <p:panelGrid columns="3" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
                        <p:inputText placeholder="Name"/>
                        <p:inputText placeholder="Email"/>
                        <p:inputText placeholder="Phone"/>
                        <p:inputText placeholder="Disabled Input" disabled="true"/>
                        <p:inputText placeholder="Address"/>
                        <p:inputText placeholder="Id"/>
                    </p:panelGrid>
                </div>
                
                <div class="card">
                    <h1>TextArea</h1>
                    <p:inputTextarea rows="3" placeholder="Your Message" autoResize="false"/>
                </div>
                
                <div class="card">
                    <h1>AutoComplete</h1>
                    <p:panelGrid columns="1" styleClass="ui-panelgrid-blank" layout="grid">
                        <p:outputLabel value="Simple:" for="acSimple" />
                        <p:autoComplete id="acSimple" value="#{autoCompleteView.txt1}" completeMethod="#{autoCompleteView.completeText}" style="margin-bottom:10px;"/>

                        <p:outputLabel value="DropDown:" for="dd" />
                        <p:autoComplete id="dd" dropdown="true" value="#{autoCompleteView.txt6}" completeMethod="#{autoCompleteView.completeText}" style="margin-bottom:10px;"/>

                        <p:outputLabel value="Group:" for="group" />
                        <p:autoComplete id="group" value="#{autoCompleteView.theme4}" completeMethod="#{autoCompleteView.completeThemeContains}"
                                        var="theme" itemLabel="#{theme.displayName}" itemValue="#{theme}" converter="theme"
                                        groupBy="#{autoCompleteView.getThemeGroup(theme)}" scrollHeight="250"/>
                    </p:panelGrid>
                </div>
                
                <div class="card">
                    <h1>SelectCheckBoxMenu</h1>
                    <p:selectCheckboxMenu label="Cities" filter="true" filterMatchMode="startsWith">
                        <f:selectItem itemLabel="Option 1" itemValue="1" />
                        <f:selectItem itemLabel="Option 2" itemValue="2" />
                        <f:selectItem itemLabel="Option 3" itemValue="3" />
                    </p:selectCheckboxMenu>
                </div>
                
                <div class="card">
                    <h1>SelectManyMenu</h1>
                    <p:selectManyMenu showCheckbox="true" style="width:200px;">
                        <f:selectItem itemLabel="Option 1" itemValue="1" />
                        <f:selectItem itemLabel="Option 2" itemValue="2" />
                        <f:selectItem itemLabel="Option 3" itemValue="3" />
                    </p:selectManyMenu>
                </div>
                
                <div class="card">
                    <h1>Rating</h1>
                    <h:panelGrid columns="2" cellpadding="5">
                        <h:outputText value="Basic:" />
                        <p:rating />

                        <h:outputText value="Callback:" />
                        <p:rating stars="5" cancel="false" onRate="alert('You rated ' + value)" />

                        <h:outputText value="Disabled"/>
                        <p:rating disabled="true" />
                    </h:panelGrid>
                </div>
                
                <div class="card">
                    <h1>Calendar</h1>
                    <p:calendar id="inline"  mode="inline"/>

                    <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank grid-pad" style="margin-top:10px">
                        <p:outputLabel for="popup" value="Popup:" />
                        <p:calendar id="popup" />

                        <p:outputLabel for="multi" value="Multiple:" />
                        <p:calendar id="multi" pages="3" />

                        <p:outputLabel for="effect" value="Effect:" />
                        <p:calendar id="effect" effect="fold" />

                        <p:outputLabel for="datetime" value="Datetime:" />
                        <p:calendar id="datetime" pattern="MM/dd/yyyy HH:mm:ss" />

                        <p:outputLabel for="time" value="Time:" />
                        <p:calendar id="time" pattern="HH:mm a" timeOnly="true"  />

                        <p:outputLabel for="button" value="Button:" />
                        <p:calendar id="button" showOn="button" />
                    </p:panelGrid>
                </div>
            </div>
            <div class="ui-g-12 ui-lg-6">
                <!-- Right Side -->
                <div class="card">
                    <h1>Checkboxes</h1>
                    <p:selectManyCheckbox layout="responsive" columns="3">
                        <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
                        <f:selectItem itemLabel="PS4" itemValue="PS+" />
                        <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
                    </p:selectManyCheckbox>
                </div>
                
                <div class="card">
                    <h1>RadioButtons</h1>
                    <p:selectOneRadio layout="responsive" columns="3">
                        <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
                        <f:selectItem itemLabel="PS4" itemValue="PS+" />
                        <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
                    </p:selectOneRadio>
                </div>
                
                <div class="card">
                    <h1>Input Switch</h1>
                    <p:inputSwitch onLabel="on" offLabel="off"/>
                </div>
                
                <div class="card">
                    <h1>SelectOneMenu</h1>
                    <p:panelGrid columns="1" style="margin-bottom:10px" layout="grid" styleClass="ui-panelgrid-blank">
                        <p:selectOneMenu id="console" value="#{selectOneMenuView.console}" style="margin-bottom:10px;">
                            <f:selectItem itemLabel="Select One" itemValue="" />
                            <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
                            <f:selectItem itemLabel="PS4" itemValue="PS4" />
                            <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
                        </p:selectOneMenu>

                        <p:selectOneMenu id="car" style="margin-bottom:10px;">
                            <f:selectItem itemLabel="Select One" itemValue="" />
                            <f:selectItems value="#{selectOneMenuView.cars}" />
                        </p:selectOneMenu>

                        <p:selectOneMenu id="city" value="#{selectOneMenuView.city}" effect="fold" editable="true">
                            <f:selectItem itemLabel="Select One" itemValue="" />
                            <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
                            <f:selectItem itemLabel="PS4" itemValue="PS4" />
                            <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
                        </p:selectOneMenu>
                    </p:panelGrid>
                </div>
                
                <div class="card">
                    <h1>Keyboard And Password</h1>
                    <p:keyboard placeholder="Keyboard"/>
                    <p:password feedback="true" placeholder="Password" inline="true" style="margin-top:15px;"/>
                </div>
                
                <div class="card">
                    <h1>MultiSelectListBox</h1>
                    <p:multiSelectListbox value="#{multiSelectView.selection}" effect="slide" header="Categories" showHeaders="true">
                        <f:selectItems value="#{multiSelectView.categories}" />
                    </p:multiSelectListbox>
                </div>
                
                <div class="card">
                    <h1>SelectOneListBox</h1>
                    <p:selectOneListbox>
                        <f:selectItem itemLabel="Option 1" itemValue="1" />
                        <f:selectItem itemLabel="Option 2" itemValue="2" />
                        <f:selectItem itemLabel="Option 3" itemValue="3" />
                    </p:selectOneListbox>
                </div>
                
                <div class="card">
                    <h1>Spinner</h1>
                    <p:spinner />
                </div>
                
                <div class="card">
                    <h1>Slider</h1>
                    <p:panelGrid columns="1" style="margin-bottom: 50px" layout="grid" styleClass="ui-panelgrid-blank">
                        <p:inputText id="slider" style="margin-bottom:10px;" placeholder="Horizontal"/>
                        <p:slider for="slider"/>
                    </p:panelGrid>
                    
                    <p:panelGrid columns="1" style="margin-bottom: 50px" layout="grid" styleClass="ui-panelgrid-blank">
                        <p:inputText id="txt4" style="margin-bottom:10px;" placeholder="Vertical"/>
                        <p:slider for="txt4" type="vertical" />
                    </p:panelGrid>
                    
                    <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank">
                        <h:outputText id="displayRange" value="Values" style="font-size:16px"/>
                        <p:slider for="txt6,txt7" display="displayRange" range="true" displayTemplate="Between {min} and {max}" minValue="0" maxValue="100" style="margin-top:15px"/>
                    </p:panelGrid>
                    <h:inputHidden id="txt6" value="20"/>
                    <h:inputHidden id="txt7" value="80"/>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="card card-w-title">
                    <h1>Input Groups</h1>
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <p:inputText placeholder="Username" />      
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="fa fa-credit-card"></i></span>  
                                <span class="ui-inputgroup-addon"><i class="fa fa-cc-visa"></i></span>   
                                <p:inputText placeholder="Price" />
                                <span class="ui-inputgroup-addon">$</span>  
                                <span class="ui-inputgroup-addon">.00</span>      
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-inputgroup">
                                <p:commandButton value="Search"/> 
                                <p:inputText placeholder="Keyword" />        
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon-checkbox"><p:selectBooleanCheckbox /></span>
                                <p:inputText placeholder="Username" />        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-lg-6" style="padding-top:0">
                    <div class="card">
                        <h1>Buttons</h1>
                        <h:form>
                            <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank grid-pad">
                                <h:outputText value="SelectBooleanButton:" />
                                <p:selectBooleanButton onLabel="Yes" offLabel="No" style="width:60px" />

                                <h:outputText value="SelectOneButton:" />
                                <p:selectOneButton>
                                    <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
                                    <f:selectItem itemLabel="PS4" itemValue="PS4" />
                                    <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
                                </p:selectOneButton>

                                <h:outputText value="SelectManyButton:" />
                                <p:selectManyButton>
                                    <f:selectItem itemLabel="b" itemValue="b"/>
                                    <f:selectItem itemLabel="u" itemValue="u" />
                                    <f:selectItem itemLabel="i" itemValue="i" />
                                </p:selectManyButton>

                                <h:outputText value="Button" />
                                <p:button value="Bookmark" icon="fa fa-star" />

                                <h:outputText value="Button Icon Only" />
                                <p:commandButton type="button" icon="fa fa-twitter" />

                                <h:outputText value="CommandButton:" />
                                <p:commandButton type="button" value="With Icon" icon="fa fa-home" />

                                <h:outputText value="CommandButton:" />
                                <p:commandButton type="button" value="With Icon (Right Side)" icon="fa fa-eyedropper" iconPos="right" />

                                <h:outputText value="CommandLink:" />
                                <p:commandLink value="commandLink" />

                                <h:outputText value="Link:" />
                                <p:link value="Bookmark" />

                                <h:outputText value="SplitButton:" />
                                <p:splitButton value="Save" icon="ui-icon-check fa fa-check">
                                    <p:menuitem value="Update" icon="fa fa-cloud-upload" />
                                    <p:menuitem value="Delete" icon="fa fa-close" />
                                    <p:separator />
                                    <p:menuitem value="Homepage" url="#" icon="fa fa-home" />
                                </p:splitButton>
                            </p:panelGrid>
                        </h:form>
                    </div>
                </div>
                <div class="ui-g-12 ui-lg-6" style="padding-top:0">
                    <div class="card">
                        <h1>Colored Buttons</h1>
                        <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank">
                            <p:commandButton type="button" value="Default Theme Button" style="margin-bottom:10px;"/>

                            <p:commandButton type="button" value="Inline Button" style="width:auto;margin-bottom:10px;"/>

                            <p:commandButton type="button" value="Green Button" styleClass="green-button" style="margin-bottom:10px;"/>
                            
                            <p:commandButton type="button" value="Yellow Button" styleClass="yellow-button" style="margin-bottom:10px;"/>

                            <p:commandButton type="button" value="Red Button" styleClass="red-button" style="margin-bottom:10px;"/>

                            <p:commandButton type="button" value="Aqua Button" styleClass="aqua-button" style="margin-bottom:10px;"/>
                            
                            <p:commandButton type="button" value="Navy Button" styleClass="navy-button" style="margin-bottom:10px;"/>

                            <p:commandButton type="button" value="Black Button" styleClass="black-button" style="margin-bottom:10px;"/>

                            <p:commandButton type="button" value="Gray Button" styleClass="gray-button" style="margin-bottom:10px;"/>
                        </p:panelGrid>
                    </div>
                </div>
            </div>
        </div>
        
    </ui:define>

</ui:composition>