<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Avukatım Yanımda</title>
       
    </h:head>
    
    <f:metadata>
    <f:event type="preRenderView" listener="#{registerUser.onload}" />
	</f:metadata>

    
    <h:body styleClass="login-body">
    	<h:form id="loginForm">
    
        <div id="login-wrapper">
            <p:graphicImage name="images/login-logo.png" library="omega-layout" />
            
            <div id="login-container">
                <span class="title">Avukatım Yanımda</span>
                <div style="color: red">
                	<h:outputText id = "lblErrorMsg" value="#{registerUser.errorMsg}"></h:outputText>
                </div>
                
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12">
                        <p:inputText id="an" value="#{registerUser.user.firstName}"  placeholder="Username" />
                    </div>
                    <div class="ui-g-12">
                        <p:password value="#{registerUser.user.password}" placeholder="Password" feedback="false"/>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <span class="remember-me">Remember Me</span>
                        <p:selectBooleanCheckbox />
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <p:link>Forgot Password</p:link>
                    </div>
                    <div class="ui-g-12">
                        <p:commandButton  value="Oturum Açın" icon="fa fa-check"
                         action="#{registerUser.login}" update="lblErrorMsg" />
                    </div>
                </div>
            </div>
            
            <div class="login-footer">PrimeFaces Omega</div>
        </div>
        
        <h:outputStylesheet name="css/layout.css" library="omega-layout" />
        </h:form>
    </h:body>

</html>