<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:po="http://primefaces.org/omega">
  <h:form id="menuform">
    <div class="sidebar">
        <div class="nano">
            <div class="nano-content sidebar-scroll-content">
                <div class="logo">
                    <p:graphicImage name="images/logo.png" library="omega-layout" width="113"/>
                </div>

                <div class="profile">
                    <p:graphicImage name="images/profile.png" library="omega-layout" />
                    <a id="profile-button" href="#">
                        <span class="username">Peggy Olson</span>
                        <i class="fa fa-fw fa-cog"></i>
                    </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-fw fa-sliders"></i><span>Account</span></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-bell"></i><span>Notifications</span><span class="menu-badge">2</span></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-sign-out"></i><span>Logout</span></a></li>
                    </ul>
                </div>

                <div class="menu">
                    <po:menu>
                        <p:menuitem id="om_dashboard" value="Ana Sayfa" icon="fa fa-home" outcome="/dashboard"/>
                     	<p:menuitem id="om_db_landing" value="Müvekkil" icon="fa fa-certificate" outcome="/landing"/>
                     	<p:menuitem id="om_db_landing1" value="Karşı Taraf" icon="fa fa-certificate" outcome="/landing"/>
                     	<p:menuitem id="om_db_landing2" value="Davalar" icon="fa fa-certificate" outcome="/landing"/>
                        <p:menuitem id="om_db_landing3" value="İcra Takipleri" icon="fa fa-certificate" outcome="/landing"/>
                        <p:menuitem id="om_db_landing4" value="Danışmanlık" icon="fa fa-certificate" outcome="/landing"/>
                        <p:menuitem id="om_db_landing5" value="Muhasebe" icon="fa fa-certificate" outcome="/landing"/>
                          <p:menuitem id="om_db_landing6" value="İş Listesi" icon="fa fa-certificate" outcome="/landing"/>
                           <p:menuitem id="om_db_landing7" value="Raporlar" icon="fa fa-certificate" outcome="/landing"/>
                            <p:menuitem id="om_db_landing8" value="Vekaletnameler" icon="fa fa-certificate" outcome="/landing"/>
                        <p:submenu id="om_components" label="Teknik Ayarlar" icon="fa fa-sitemap">
                            <p:menuitem id="om_sample" value="Kullanıcı yetki" icon="fa fa-columns" outcome="/sample" />
                        	
                        </p:submenu>
                        
                    </po:menu>
                </div>
            </div>
        </div>
    </div>
  </h:form>
</ui:composition>
