// Icon Override Mixin
@mixin icon-override($icon) {
    background-image: none !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;
    
    &:before {
        content: $icon;
    }
}

/* UI ICONS */

/* positioning */
.ui-icon-blank { background-position: 16px 16px; }
.ui-icon-carat-1-n { @include icon-override("\f106"); }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { @include icon-override("\f105"); }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { @include icon-override("\f107"); }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { @include icon-override("\f104"); }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { @include icon-override("\f0dc"); }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { @include icon-override("\f0de"); }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { @include icon-override("\f0da"); }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { @include icon-override("\f0dd"); }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { @include icon-override("\f0d9"); }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { @include icon-override("\f0dc"); }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { @include icon-override("\f062"); }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { @include icon-override("\f061"); }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { @include icon-override("\f063"); }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { @include icon-override("\f177"); }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { @include icon-override("\f07d"); }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { @include icon-override("\f07e"); }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { @include icon-override("\f176"); }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { @include icon-override("\f178"); }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { @include icon-override("\f175"); }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { @include icon-override("\f177"); }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { @include icon-override("\f047"); }
.ui-icon-arrow-4-diag { @include icon-override("\f0b2"); }
.ui-icon-extlink { @include icon-override("\f08e"); }
.ui-icon-newwin { @include icon-override("\f24d"); }
.ui-icon-refresh { @include icon-override("\f021"); }
.ui-icon-shuffle { @include icon-override("\f074"); }
.ui-icon-transfer-e-w { @include icon-override("\f18d"); }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { @include icon-override("\f07b"); }
.ui-icon-folder-open { @include icon-override("\f115"); }
.ui-icon-document { @include icon-override("\f016"); }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { @include icon-override("\f24a"); }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { @include icon-override("\f003"); }
.ui-icon-suitcase { @include icon-override("\f0f2"); }
.ui-icon-comment { @include icon-override("\f0e5"); }
.ui-icon-person { @include icon-override("\f007"); }
.ui-icon-print { @include icon-override("\f02f"); }
.ui-icon-trash { @include icon-override("\f1f8"); }
.ui-icon-locked { @include icon-override("\f023"); }
.ui-icon-unlocked { @include icon-override("\f09c"); }
.ui-icon-bookmark { @include icon-override("\f02e"); }
.ui-icon-tag { @include icon-override("\f02b"); }
.ui-icon-home { @include icon-override("\f015"); }
.ui-icon-flag { @include icon-override("\f024"); }
.ui-icon-calendar { @include icon-override("\f073"); }
.ui-icon-cart { @include icon-override("\f07a"); }
.ui-icon-pencil { @include icon-override("\f040"); }
.ui-icon-clock { @include icon-override("\f017"); }
.ui-icon-disk { @include icon-override("\f0c7"); }
.ui-icon-calculator { @include icon-override("\f1ec"); }
.ui-icon-zoomin { @include icon-override("\f00e"); }
.ui-icon-zoomout { @include icon-override("\f010");}
.ui-icon-search { @include icon-override("\f002");}
.ui-icon-wrench { @include icon-override("\f0ad");}
.ui-icon-gear { @include icon-override("\f013");}
.ui-icon-heart { @include icon-override("\f004");}
.ui-icon-star { @include icon-override("\f005");}
.ui-icon-link { @include icon-override("\f0c1");}
.ui-icon-cancel { @include icon-override("\f05e");}
.ui-icon-plus { @include icon-override("\f067");}
.ui-icon-plusthick { @include icon-override("\f067"); }
.ui-icon-minus { @include icon-override("\f068");}
.ui-icon-minusthick { @include icon-override("\f068"); }
.ui-icon-close { @include icon-override("\f00d");}
.ui-icon-closethick { @include icon-override("\f00d"); }
.ui-icon-key { @include icon-override("\f084");}
.ui-icon-lightbulb { @include icon-override("\f0eb");}
.ui-icon-scissors { @include icon-override("\f0c4");}
.ui-icon-clipboard { @include icon-override("\f0ea");}
.ui-icon-copy { @include icon-override("\f0c5");}
.ui-icon-contact { @include icon-override("\f0c0");}
.ui-icon-image { @include icon-override("\f1c5");}
.ui-icon-video { @include icon-override("\f1c8");}
.ui-icon-music { @include icon-override("\f001");}
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { @include icon-override("\f071");}
.ui-icon-info { @include icon-override("\f05a");}
.ui-icon-notice { @include icon-override("\f12a");}
.ui-icon-help { @include icon-override("\f059");}
.ui-icon-check { @include icon-override("\f00c");}
.ui-icon-bullet { @include icon-override("\f111");}
.ui-icon-radio-on { @include icon-override("\f111");}
.ui-icon-radio-off { @include icon-override("\f10c");}
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { @include icon-override("\f08d");}
.ui-icon-play { @include icon-override("\f04b");}
.ui-icon-pause { @include icon-override("\f04c");}
.ui-icon-seek-next { @include icon-override("\f051");}
.ui-icon-seek-prev { @include icon-override("\f048");}
.ui-icon-seek-end { @include icon-override("\f051");}
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { @include icon-override("\f048");}
.ui-icon-stop { @include icon-override("\f04d");}
.ui-icon-eject { @include icon-override("\f052");}
.ui-icon-volume-off { @include icon-override("\f026");}
.ui-icon-volume-on { @include icon-override("\f028");}
.ui-icon-power { @include icon-override("\f011");}
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { @include icon-override("\f012");}
.ui-icon-battery-0 { @include icon-override("\f244");}
.ui-icon-battery-1 { @include icon-override("\f243");}
.ui-icon-battery-2 { @include icon-override("\f242");}
.ui-icon-battery-3 { @include icon-override("\f240");}
.ui-icon-circle-plus { @include icon-override("\f055");}
.ui-icon-circle-minus { @include icon-override("\f056");}
.ui-icon-circle-close { @include icon-override("\f057");}
.ui-icon-circle-triangle-e { @include icon-override("\f138"); }
.ui-icon-circle-triangle-s {  @include icon-override("\f13a"); }
.ui-icon-circle-triangle-w { @include icon-override("\f137"); }
.ui-icon-circle-triangle-n { @include icon-override("\f139"); }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; } 